@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Live Stream";
}



<div class="main-content right-chat-active">

    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left pe-0 ms-0 me-0" style="max-width: 100%;">
            <div class="row">
                <div class="col-xl-8 col-xxl-9 col-lg-8">
                    <div class="card border-0 mb-0 rounded-3 overflow-hidden chat-wrapper bg-image-center bg-image-cover" style="background-image: url(../../images/video-bg-1.jpg);">
                        <div class="card-body position-absolute mt-0 ms-0 left-0">
                            <img src="~/images/video-bg-2.jpg" alt="image" class="w150 h200 rounded-3 position-relative z-index-1 shadow-xss">
                        </div>
                        <div class="card-body text-center p-2 position-absolute w-100 bottom-0 bg-gradiant-bottom">
                            <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 me-0 z-index-1"><i class="feather-grid text-white font-md"></i></a>
                            <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 z-index-1"><i class="feather-mic-off text-white font-md"></i></a>
                            <a href="#" class="btn-round-xxl bg-danger z-index-1"><i class="feather-phone-off text-white font-md"></i></a>
                            <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 z-index-1"><i class="ti-video-camera text-white font-md"></i></a>
                            <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 ms-0 z-index-1"><i class="ti-settings text-white font-md"></i></a>
                            <span class="p-2 bg-blur z-index-1 text-white fw-700 font-xssss rounded-3 right-15 position-absolute mb-4 bottom-0">44:00</span>
                            <span class="live-tag position-absolute left-15 mt-2 bottom-0 mb-4 bg-danger p-2 z-index-1 rounded-3 text-white font-xsssss text-uppersace fw-700 ls-3">LIVE</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-xxl-3 col-lg-4 pe-0 ps-0">
                    <div class="card w-100 d-block chat-body p-0 border-0 shadow-xss rounded-3 mb-3 position-relative">
                        <div class="messages-content chat-wrapper scroll-bar p-3">
                            <div class="message-item">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="~/images/user-9.png" alt="image">
                                    </figure>
                                    <div>
                                        <h5 class="font-xssss mt-2">Byrom Guittet</h5>
                                        <div class="time">01:35 PM</div>
                                    </div>
                                </div>
                                <div class="message-wrap shadow-none">I'm fine, how are you 😃</div>
                            </div>

                            <div class="message-item">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="~/images/user-1.png" alt="image">
                                    </figure>
                                    <div>
                                        <h5 class="font-xssss mt-2">Byrom Guittet</h5>
                                        <div class="time">01:35 PM<i class="ti-double-check text-info"></i></div>
                                    </div>
                                </div>
                                <div class="message-wrap shadow-none">I want those files for you. I want you to send 1 PDF and 1 image file.</div>
                            </div>

                            <div class="message-item">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="~/images/user-9.png" alt="image">
                                    </figure>
                                    <div>
                                        <h5 class="font-xssss mt-2">Byrom Guittet</h5>
                                        <div class="time">01:35 PM</div>
                                    </div>
                                </div>
                                <div class="message-wrap shadow-none">I've found some cool photos for our travel app.</div>
                            </div>

                            <div class="message-item outgoing-message">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="~/images/user-1.png" alt="image">
                                    </figure>
                                    <div>
                                        <h5>You</h5>
                                        <div class="time">01:35 PM<i class="ti-double-check text-info"></i></div>
                                    </div>
                                </div>
                                <div class="message-wrap">Hey mate! How are things going ?</div>
                            </div>

                            <div class="message-item">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="~/images/user-9.png" alt="image">
                                    </figure>
                                    <div>
                                        <h5 class="font-xssss mt-2">Byrom Guittet</h5>
                                        <div class="time">01:35 PM</div>
                                    </div>
                                </div>
                                <div class="message-wrap shadow-none">I'm fine, how are you 😃</div>
                            </div>

                            <div class="message-item">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="~/images/user-1.png" alt="image">
                                    </figure>
                                    <div>
                                        <h5 class="font-xssss mt-2">Byrom Guittet</h5>
                                        <div class="time">01:35 PM<i class="ti-double-check text-info"></i></div>
                                    </div>
                                </div>
                                <div class="message-wrap shadow-none">I want those files for you. I want you to send 1 PDF and 1 image file.</div>
                            </div>

                            <div class="message-item">
                                <div class="message-user">
                                    <figure class="avatar">
                                        <img src="~/images/user-9.png" alt="image">
                                    </figure>
                                    <div>
                                        <h5 class="font-xssss mt-2">Byrom Guittet</h5>
                                        <div class="time">01:35 PM</div>
                                    </div>
                                </div>
                                <div class="message-wrap shadow-none">I've found some cool photos for our travel app.</div>
                            </div>

                        </div>
                        <form class="chat-form position-absolute bottom-0 w-100 left-0 bg-white z-index-1 p-3 shadow-xs theme-dark-bg ">
                            <button class="bg-grey float-left"><i class="ti-microphone text-white"></i></button>
                            <div class="form-group"><input type="text" placeholder="Start typing.." class="pos-top text-grey-900"></div>
                            <button class="bg-current"><i class="ti-arrow-right text-white"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

