@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Video";
}



<div class="main-content right-chat-active">

    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <div class="row justify-content-center">
                <div class="col-lg-10">

                    <div class="card w-100 border-0 shadow-xss rounded-xxl border-0 p-4 mb-3 overflow-hidden">
                        <div class="card-body p-0 d-flex align-items-center mb-3">
                            <h4 class="fw-700 font-xss text-grey-900 pt-0 mb-0">Featured Stories</h4>
                            <a href="#" class="ps-3 pe-2 lh-32 d-flex align-items-center font-xssss fw-600 alert-primary rounded-xxl text-primary ms-auto">See more <i class="font-xsss feather-chevron-right ms-1"></i></a>
                        </div>
                        <div class="card-body p-0 d-block mb-4">
                            <div class="owl-carousel owl-theme category-card overflow-visible owl-dot-nav nav-none style2 chatlist">
                                <div class="item no-ouline">
                                    <div class="card w-100 border-0 shadow-none bg-transparent bg-transparent-card">
                                        <a href="#" data-target="#Modalstries" data-toggle="modal" class="w-100 btn-round-lg"><i class="feather-plus text-grey-600 font-md"></i> <span class="d-block fw-600 font-xssss text-grey-600 text-dark mt-0">My story</span></a>
                                    </div>
                                </div>
                                <div class="item dashed online">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-22.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Ana</span></a></div>
                                    </div>
                                </div>
                                <div class="item online">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-23.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Devid</span></a></div>
                                    </div>
                                </div>
                                <div class="item online">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-24.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Anton</span></a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-21.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Jane</span></a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-25.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Wade</span></a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-12.png" alt="image" class="d-inline shadow p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Cabe</span></a></div>
                                    </div>
                                </div>

                                <div class="item online">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-24.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Anton</span></a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-21.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Jane</span></a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="card bg-transparent bg-transparent-card border-0 shadow-none">
                                        <div class="card-image text-center"><a href="#" data-target="#Modalstries" data-toggle="modal"><img src="~/images/user-25.png" alt="image" class="d-inline p-0"> <span class="d-block fw-600 font-xssss text-grey-600 text-dark">Wade</span></a></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                        <div class="card-body p-0 d-flex">
                            <figure class="avatar me-3"><img src="~/images/user-8.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                            <h4 class="fw-700 text-grey-900 font-xssss mt-1">Anthony Daugloi <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">2 hour ago</span></h4>
                            <a href="#" class="ms-auto"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                        </div>
                        <div class="card-body p-0 mb-3 rounded-3 overflow-hidden">
                            <div class="player bg-transparent shadow-none">
                                <!-- <video id='video' src='~/images/v-2.mp4' playsinline></video> -->
                                <video id="my-video"
                                       class="video-js"
                                       controls
                                       preload="auto"
                                       poster="~/images/poster-1.png"
                                       data-setup="{}"
                                       style="width: 100%; height: auto;">
                                    <source src="~/images/v-2.mp4" type="video/mp4" />
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
                        </div>
                        <div class="card-body p-0 me-lg-5">
                            <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus <a href="#" class="fw-600 text-primary ms-2">See more</a></p>
                        </div>
                        <div class="card-body d-flex p-0 mt-3">
                            <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-3"><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>
                            <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>22 Comment</a>
                            <a href="#" class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span class="d-none-xs">Share</span></a>
                        </div>
                    </div>

                    <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                        <div class="card-body p-0 d-flex">
                            <figure class="avatar me-3"><img src="~/images/user-8.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                            <h4 class="fw-700 text-grey-900 font-xssss mt-1">Anthony Daugloi <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">2 hour ago</span></h4>
                            <a href="#" class="ms-auto"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                        </div>
                        <div class="card-body p-0 mb-3 rounded-3 overflow-hidden">
                            <div class="player bg-transparent shadow-none">
                                <video id="my-video4"
                                       class="video-js"
                                       controls
                                       preload="auto"
                                       poster="~/images/poster-2.png"
                                       data-setup="{}"
                                       style="width: 100%; height: auto;">
                                    <source src="~/images/v-1.mp4" type="video/mp4" />
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
                        </div>
                        <div class="card-body p-0 me-lg-5">
                            <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus <a href="#" class="fw-600 text-primary ms-2">See more</a></p>
                        </div>
                        <div class="card-body d-flex p-0 mt-3">
                            <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-3"><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>
                            <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>22 Comment</a>
                            <a href="#" class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span class="d-none-xs">Share</span></a>
                        </div>
                    </div>

                    <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                        <div class="card-body p-0 d-flex">
                            <figure class="avatar me-3"><img src="~/images/user-7.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                            <h4 class="fw-700 text-grey-900 font-xssss mt-1">Anthony Daugloi <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">2 hour ago</span></h4>
                            <a href="#" class="ms-auto"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                        </div>
                        <div class="card-body p-0 mb-3 rounded-3 overflow-hidden">
                            <div class="player bg-transparent shadow-none">
                                <video id="my-video2"
                                       class="video-js"
                                       controls
                                       preload="auto"
                                       poster="~/images/poster-3.png"
                                       data-setup="{}"
                                       style="width: 100%; height: auto;">
                                    <source src="~/images/v-4.mp4" type="video/mp4" />
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
                        </div>
                        <div class="card-body p-0 me-lg-5">
                            <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus <a href="#" class="fw-600 text-primary ms-2">See more</a></p>
                        </div>
                        <div class="card-body d-flex p-0 mt-3">
                            <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-3"><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>
                            <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>22 Comment</a>
                            <a href="#" class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span class="d-none-xs">Share</span></a>
                        </div>
                    </div>

                    <div class="card w-100 text-center shadow-xss rounded-xxl border-0 p-4 mb-3">
                        <div class="snippet mt-2 ms-auto me-auto" data-title=".dot-typing">
                            <div class="stage">
                                <div class="dot-typing"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

